.formulario-inicio {
    margin-top: 40px;
}
.titulo-login {
    margin-top: 20px;
    margin-bottom: 10px;
}
.imagen-login {
    width: 200px;
}
.admin-usuarios {
    margin-top: 40px;
    max-width: 1360px;
}

.bg-light {
    background-color: #46A7AA !important;
}
footer {
    margin-top: 40px;
}

/*.no-mostrar {
    display: none;
}
*/

.imprimir a {
    color: #98BB2A;
}

.page-link {
    color: #98BB2A;
}

.page-link:hover {
    color: #46A7AA;
}

.page-header {
    color: #46A7AA;
}

.btn-primary {
    color: #fff;
    background-color: #98BB2A;
    border-color: #98BB2A;
}

.btn-primary:hover {
    color: #fff;
    background-color: #98BB2A;
    border-color: #98BB2A;
    opacity: 0.8;
}

.btn-outline-success {
    color: #fff;
    border-color: #fff;
}

.btn-primary:active, .btn-primary:focus {
    color: #fff;
    background-color: #46A7AA;
    border-color: #46A7AA;
    box-shadow: none;
}

a.nav-link.active {
    color: #fff!important;
    border-bottom: 1px solid;
    font-weight: 600;
}

a.nav-link:hover {
    color: #fff!important;
}

td a {
    color: #46a7aa!important;
    text-decoration: none;
}

td a:hover {
    color: #98BB2A!important;
    text-decoration: underline;
}